*{
	margin: 0;
	padding: 0;
}

.wrapper{
	width:90%;
	max-width: 1000px;
	margin: auto;
}

.wrapper h1{
	margin: 1em 0;
	color: #024959);
}

.wrapper p{
	margin-bottom: 1em;
}

.paginacion{
	margin: 20px 0;
}

	.paginacion ul{
		list-style: none;
		text-align: center;
	}
		.paginacion ul li{
			display: inline-block;
			margin-right: 10px;
		}
			.paginacion ul li a{
				display: block;
				padding: 10px 20px;
				color: #fff;
				background: #024959;
				text-decoration: none;
				border-radius: 9px;
			}

			.paginacion ul li a:hover{
				background: #037e8c;
			}

			.paginacion ul li .active{
				background: #037e8c;
				font-weight: bold;
			}	