*{
	margin: 0;
	padding: 0;
}

.wrapper{
	width:90%;
	max-width: 1000px;
	margin: auto;
}

.wrapper h1{
	margin: 1em 0;
	color: #024959);
}

.wrapper p{
	margin-bottom: 1em;
}

.paginacion{
	margin: 20px 0;
}

	
			
			